* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: "Comfortaa";
}
header {
    position: fixed;
    top: 0;
    width: 100%;
}
header h1 {
    text-align: center;
    color: #99CCCC;
    padding: 0.5em;
    backdrop-filter: blur(1px);
}
.scene {
    background: #DFFFFF;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bear {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}
.bear .head {
    position: relative;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 2px solid #ECCAAE;
}
.bear .hider {
    position: relative;
    width: calc(10em - 3px);
    height: calc(10em - 3px);
    background-color: #FFE5CF;
    border-radius: 50%;
    z-index: 2;
}
.bear .ears .left {
    position: absolute;
    top: 0em;
    left: 0em;
    width: 3.5em;
    height: 5em;
    background: #FFE5CF;
    border-radius: 35% 100% 0 0;
    transform: rotate(-25deg);
    z-index: 1;
    border: 2px solid #ECCAAE;
}
.bear .ears .innerleft {
    position: absolute;
    top: 0.4em;
    left: 0.3em;
    width: 3em;
    height: 4.5em;
    background: #ECCAAE;
    border-radius: 35% 100% 0 0;
    transform: rotate(-25deg);
    z-index: 1;
}
.bear .ears .right {
    position: absolute;
    top: 0;
    right: 0;
    width: 3.5em;
    height: 5em;
    background: #FFE5CF;
    border-radius: 100% 35% 0 0;
    transform: rotate(25deg);
    z-index: 1;
    border: 2px solid #ECCAAE;
}
.bear .ears .innerright {
    position: absolute;
    top: 0.4em;
    right: 0.3em;
    width: 3em;
    height: 4.5em;
    background: #ECCAAE;
    border-radius: 100% 35% 0 0;
    transform: rotate(25deg);
    z-index: 1;
}

.bear .eyes .left {
    position: absolute;
    top: 3em;
    left: 2.5em;
    width: 1.5em;
    height: 1.7em;
    background: #2B2B2B;
    border-radius: 50%;
    z-index: 3;
}
.bear .eyes .right {
    position: absolute;
    top: 3em;
    right: 2.5em;
    width: 1.5em;
    height: 1.7em;
    background: #2B2B2B;
    border-radius: 50%;
    z-index: 3;
}
.bear .nose {
    position: absolute;
    top: 5em;
    left: 4.3em;
    width: 1.2em;
    height: 1.3em;
    background: #542323;
    border-radius: 50%;
    z-index: 3;
}
.bear .mouth {
    position: absolute;
    top: 4.7em;
    left: 3.2em;
    width: 3.5em;
    height: 3em;
    background: transparent;
    border-left: 0.2em solid #FFE5CF;
    border-right: 0.2em solid #FFE5CF;
    border-top: 0.2em solid #FFE5CF;
    border-bottom: 0.2em solid #2B2B2B;
    border-radius: 50%;
    z-index: 3;
}
#bear:checked ~ .scene .bear {
    display: block;
}
.dog {
    display: none;
}
.dog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}
.dog .head {
    position: relative;
    width: 8em;
    height: 6em;
    border-radius: 50%;
    border: 2px solid #DDDDDD;
}
.dog .hider {
    position: relative;
    width: calc(8em - 3px);
    height: calc(6em - 3px);
    background-color: #FFFEFC;
    border-radius: 50%;
    z-index: 2;
    overflow: hidden;
}
.dog .jaw {
    position: absolute;
    top: 4em;
    width: 8em;
    height: 4em;
    border-radius: 50%;
    border: 2px solid #DDDDDD;
}
.dog .jawhider {
    position: absolute;
    left: 2px;
    top: calc(4em + 2px);
    width: calc(8em - 3px);
    height: calc(4em - 3px);
    background-color: #FFFEFC;
    border-radius: 50%;
    z-index: 2;
}
.dog .chin {
    position: absolute;
    top: 5em;
    width: 4em;
    left: 2em;
    height: 4em;
    border-radius: 50%;
    border: 2px solid #DDDD;
}
.dog .chinhider {
    position: absolute;
    top: calc(5em + 1.5px);
    left: calc(2em + 1.5px);
    width: calc(4em - 3px);
    height: calc(4em - 3px);
    background-color: #FFFEFC;
    border-radius: 50%;
    z-index: 2;
}
dog .ears .left {
    position: absolute;
    top: 0em;
    left: 0em;
    width: 3.5em;
    height: 5em;
    background: #FFE5CF;
    border-radius: 35% 100% 0 0;
    transform: rotate(-25deg);
    z-index: 1;
    border: 2px solid #ECCAAE;
}
dog .ears .innerleft {
    position: absolute;
    top: 0.4em;
    left: 0.3em;
    width: 3em;
    height: 4.5em;
    background: #ECCAAE;
    border-radius: 35% 100% 0 0;
    transform: rotate(-25deg);
    z-index: 1;
}
dog .ears .right {
    position: absolute;
    top: 0;
    right: 0;
    width: 3.5em;
    height: 5em;
    background: #FFE5CF;
    border-radius: 100% 35% 0 0;
    transform: rotate(25deg);
    z-index: 1;
    border: 2px solid #ECCAAE;
}
dog .ears .innerright {
    position: absolute;
    top: 0.4em;
    right: 0.3em;
    width: 3em;
    height: 4.5em;
    background: #ECCAAE;
    border-radius: 100% 35% 0 0;
    transform: rotate(25deg);
    z-index: 1;
}
.dog .leftpatch {
    position: absolute;
    top: -0.5em;
    left: -3em;
    z-index: 3;
    height: 6em;
    width: 6em;
    background-color: #353535;
    border-radius: 50%;
}
.dog .leftpatch .patch {
    position: absolute;
    top: 1.75em;
    left: 4em;
    z-index: 3;
    height: 3.5em;
    width: 2em;
    background-color: #232323;
    border-radius: 50%;
    transform: rotate(5deg);
    overflow: hidden;
}
.dog .leftpatch .patch .outereye{
    position: absolute;
    top: 1.5em;
    left: 0.25em;
    z-index: 4;
    height: 2.25em;
    width: 1.75em;
    background-color: #FFFFFF;
    border-radius: 50%;
    transform: rotate(-5deg);
}
.dog .rightpatch {
    position: absolute;
    top: -0.5em;
    right: -3em;
    z-index: 3;
    height: 6em;
    width: 6em;
    background-color: #353535;
    border-radius: 50%;
}
.dog .rightpatch .patch {
    position: absolute;
    top: 1.75em;
    right: 4em;
    z-index: 3;
    height: 3.5em;
    width: 2em;
    background-color: #232323;
    border-radius: 50%;
    transform: rotate(-5deg);
    overflow: hidden;
}
.dog .rightpatch .patch .outereye{
    position: absolute;
    top: 1.5em;
    right: 0.25em;
    z-index: 4;
    height: 2.25em;
    width: 1.75em;
    background-color: #FFFFFF;
    border-radius: 50%;
    transform: rotate(5deg);
}
dog .eyes .left {
    position: absolute;
    top: 3em;
    left: 2.5em;
    width: 1.5em;
    height: 1.7em;
    background: #2B2B2B;
    border-radius: 50%;
    z-index: 3;
}
dog .eyes .right {
    position: absolute;
    top: 3em;
    right: 2.5em;
    width: 1.5em;
    height: 1.7em;
    background: #2B2B2B;
    border-radius: 50%;
    z-index: 3;
}
dog .nose {
    position: absolute;
    top: 5em;
    left: 4.3em;
    width: 1.2em;
    height: 1.3em;
    background: brown;
    border-radius: 50%;
    z-index: 3;
}
dog .mouth {
    position: absolute;
    top: 4.7em;
    left: 3.2em;
    width: 3.5em;
    height: 3em;
    background: transparent;
    border-left: 0.2em solid #FFE5CF;
    border-right: 0.2em solid #FFE5CF;
    border-top: 0.2em solid #FFE5CF;
    border-bottom: 0.2em solid #2B2B2B;
    border-radius: 50%;
    z-index: 3;
}
#dog:checked ~ .scene .dog {
    display: block;
}
input {
    display: none;
}
label {
    cursor: pointer;
    margin: 0.5em;
    padding: 0.5em 1em;
    border-radius: 2em;
    background: #DFFFFF;
    z-index: 10;
    font-weight: bold;
    color: #99CCCC;
}
.labels {
    position: fixed;
    z-index: 10;
    bottom: 1em;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    left: 50%;
    transform: translate(-50%);
    border: 0.2em solid #99CCCC;
    border-radius: 2em;
}
#bear:checked ~ .labels label[for="bear"],
#dog:checked  ~ .labels label[for="dog"] {
    background: #99CCCC;
    color: #DFFFFF;
}