* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.scene {
    background: #DFFFFF;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.head {
    width: 100px;
    height: 100px;
    background-color: #FFE5C9;
    border-radius: 50%;
    border: 2px solid;
}
.body {
    width: 150px;
    height: 150px;
    background-color: #FFE5C9;
    border-radius: 50%;
    border: 2px solid;
}